body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.logo-container {
    text-align: center;
    padding: 20px;
}

/* Style the image as needed */
.logo-container img {
    width: 50px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
}

body {
    background: #FFF8C8;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navigation a {
    text-decoration: none;
    color: #077D61;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-size: larger;
    font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
    background:  #077D61;
    color:  #FFF8C8;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;   
}

.title-container {
    position: absolute;
    width: 100vh;
    height: auto;
}

/* #flowers1 {
    width: 200px;
    height: auto;
    position: absolute;
    left: 50px;
    top: 500px;
}

#flowers2 {
    width: 200px;
    height: auto;
    float: right;
}

#flowers3 {
    width: 200px;
    height: auto;
    float: bottom;
} */
 /* .parallax img{
    position: absolute; 
    top: 0;
    left: 0;
    width: 50%;
    pointer-events: none;
}  */